{% extends "base.html" %}

{% block content %}
    <main class="container">
        <div class="row d-flex justify-content-between">
            {% include "search_bar.html" %}
            {% include "bin.html" %}
        </div>
        <div class="cards-wrapper">
            {% for tariff in tariffs %}
                <div class="card">
                    <img src="{{ tariff.image.url }}" class="tariff-preview" alt=""/>
                    <div class="card-body" >
                        <div class="card-info">
                            <h5 class="card-title">{{ tariff.name }}</h5>
                            <p class="card-text">Цена: {{ tariff.price }} руб./ядро</p>
                        </div>
                        <div class="row card-btns">
                            <div class="col d-flex justify-content-center flex-grow-1">
                                <a href="/tariffs/{{ tariff.id }}" class="btn btn-primary">
                                    Открыть
                                </a>
                            </div>
                            <form method="post" action="{% url 'add_tariff_to_draft_forecast' tariff.id %}" class="col d-flex justify-content-center">
                                {% csrf_token %}
                                <input type="hidden" name="tariff_name" value="{{ tariff_name }}">
                                <button class="add-btn btn btn-secondary" type="submit">
                                    Добавить
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}

